<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
 
</div>
<h2>Load Quiz File</h2>
<input type="file" class="upload" (change)="changeListener($event.target.files)">

<div class="card">
  <button> {{ getCurrentQuestionText() }}</button>
</div>

<div>
  <button>{{ getAns1() }}</button>
</div>

<div>
  <button>{{ getAns2() }}</button>
</div>

<div>
  <button>{{ getAns3() }}</button>
</div>


<div>
  <button (click)="goNext()">Next Question</button>
</div>