<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
 
</div>

<div *ngIf="!isCSVLoaded()">
  <h2>Load Quiz File</h2>
  <input type="file" class="upload" (change)="changeListener($event.target.files)">
</div>


<mat-card class="main-panel" *ngIf="isCSVLoaded()">
<mat-card class="question-panel-card">
  <mat-card-header>
    <mat-card-subtitle>{{ getQuestionIdxString() }}</mat-card-subtitle>
  </mat-card-header>
  
  <mat-card-content>
    <p class="card-text">
      {{ getCurrentQuestionText() }}
    </p>
  </mat-card-content>

</mat-card>

<div><br><br><br></div>
<mat-card class="answer-panel-card">

    <button id="ans1" [style.background-color]="getColor(1)" (click)="evaluateAnswer($event)" class="answer-button-style"  ng-class="myDynamicClass" [@EnterLeave]="'flyIn'">{{ getAns1() }}</button>
    <button id="ans2" [style.background-color]="getColor(2)" (click)="evaluateAnswer($event)" class="answer-button-style"  ng-class="myDynamicClass" [@EnterLeave]="'flyIn'">{{ getAns2() }}</button>
    <button id="ans3" [style.background-color]="getColor(3)" (click)="evaluateAnswer($event)" class="answer-button-style"  ng-class="myDynamicClass" [@EnterLeave]="'flyIn'">{{ getAns3() }}</button>

</mat-card>
<div><br><br><br></div>
<mat-card class="button-panel">
  <button class="solo-button-style"  (click)="goNext()">Next Question</button>
  <button class="solo-button-style" [style.background-color]="ffffff00">{{ getText(true) }}</button>
  <!--🙂 😞-->
  <button class="solo-button-style" [style.background-color]="ff00ff00">{{ getText(false) }}</button>
  <!--✅ ❌-->
</mat-card>
</mat-card>